<%- include('includes/head.ejs') %>
<h1 class="title">PERRITOS</h1>

<form action="/ordenar/pedir" method="POST">
    <a href="/ordenar/adoptar">Adoptar al perrito</a>
    <br>
    <a href="../sobremi/conoceme">Conce más de nosotros</a>   
</form>
