<%- include('includes/head.ejs') %>

<form action="/ordenar/datos" method="POST">
<label for="nombre">Escribe tu nombre:</label>
<input type="text" id="nombre" name="nombre">
<br>
<br>
<label for="dir">Escribe tu dirección:</label>
<input type="text" id="dir" name="dir">
<br>
<br>
<label for="cel">Escribe tu teléfono:</label>
<input type="text" id="cel" name="cel">
<br>
<br>
<br>
<input type="submit" value="Enviar">
</form>
<a href="/ordenar/pedir">Volver a la principal</a>

